@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-gray-900;
  }

  html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }

  section {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
