@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-gray-900;
    overflow-x: hidden;
  }

  html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
  }

  section {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .cursive-keyword {
    font-family: 'Caveat', cursive;
    font-weight: 600;
    font-size: 1.2em;
    color: #003366;
    text-decoration: underline;
    text-decoration-color: rgba(253, 183, 26, 0.5);
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }
}
